
/* @import 'https://fonts.googleapis.com/css?family=Lato'; */
@import url("src/assets/css/normalize.css");

body{  
    margin: 0 !important;
    padding: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

div, aside, section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
